*{
    font-family:'Ubuntu', sans-serif;
    color: #FFF;
    font-size: 14px;
}

body{
    background: linear-gradient(#000b24 , #000000);
    min-width: 800px;
}

header{
    background:#000 url(imagens/background\ 1.jpg) no-repeat;
    background-size: 100%;
    width: 100%;
}

header p{
    background: url(imagens/Seta.png) no-repeat;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    
}
header p img{
    max-width: 40px;
}
header p:hover{
    color: #949494;
}

main{
    
    height: 1500px;
    padding: 20px;
}

#apresentacao{
    color: #FFF;
    font-size: 28px;
    text-align: center;
    font-weight: normal;
}

#sectionBio{
    background-color: #3e3e46;
    border-radius: 20px;
    padding: 20px;
    margin: 20px 15px;
    box-shadow: -8px 8px #303036; 
}
#sectionBio p {
    width: 76%;
    float: left;
    font-size: 18px;
    
}

#foto{
    float: right;
}

#foto img{
    border-radius: 8px;
}

#sectionTcnologias{
    border: #FFF solid 3px;
    height: 600px;
}

#coluna1, #coluna2{
    border-right: #FFF solid 3px;
}

#sectionTcnologias div{
    max-width: 30%;
    min-width: 30%;
    font-size: 18px;
    text-align: center;
    margin: 1.5%;
    float: left;
    height: 550px;
}


#sectionTcnologias div img{
    max-width: 100px;
    margin-top: 15px;
}

#sectionTcnologias div h1{
    font-size: 20px;
}